.widget-container {
    display: inline-block;
    margin: 2em;
    min-width: 320px;
    float:left;
}
.widget {
    border-radius: 8px;
    box-shadow: 2px 2px 4px #333;
    padding: 1em;
    height: auto;
}
